<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="version.t4" #>
<#@ output extension=".json" #>
{
    "ID":           "PBUtilities",
    "Author":       "Tahvohck",
    "Version":      "<#= this.version #>.<#= this.buildID #>",

    "EntryPoint":   "Tahvohck_Mods.UtilStub.Init",
    "DisplayName":  "Utility Methods for Modders"
}